
spring:
    datasource:
        driver-class-name: com.mysql.jdbc.Driver
        # Keep the connection alive if idle for a long time (needed in production)
        testWhileIdle: true
        url: jdbc:mysql://localhost:3306/devqual
        username: root
        validationQuery: SELECT 1
    jpa:
        hibernate:
            # Hibernate ddl auto (create, create-drop, update)
            #TODO change
            ddl-auto: create-drop
            naming-strategy: org.hibernate.cfg.ImprovedNamingStrategy
        properties:
            hibernate:
                dialect: org.hibernate.dialect.MySQL5Dialect
        # Show or not log for each sql query
        show-sql: false
logging:
  level:
    com.devchallenge: INFO

watcher:
  path: C:\\1
  delay: 10
---
spring:
  profiles: container
  datasource:
    url: jdbc:mysql://${DATABASE_HOST}:${DATABASE_PORT}/${DATABASE_NAME}
    username: ${DATABASE_USER}
    password: ${DATABASE_PASSWORD}
watcher:
  path: /usr/data
